body{
    background-image: url(./bg.jpg);
    background-size: cover;
    background-attachment:fixed;
    width: 100%;
    height: 950px;
}

.headerset{
    padding: 300px;
    box-sizing: border-box;
    margin-top: 200px;
}

.headerset h1{
    color: rgb(247, 223, 192);
font-size: 70px;
font-weight: bolder;
font-family: cursive;
transition: 0.7s ease;
}

.headerset h6{
    color: bisque;
    font-size: 22px;
    padding: 0px;
    transition: 0.7s ease;
}

.headerset h1:hover{
    color: brown;
    font-size: 80px;
    }
    
    .headerset h6:hover{
        font-size: 25px;
        color: rgb(242, 71, 71);
    }

    .headerset h2{
        font-size: 35px;
        padding: 100px;
        color:antiquewhite;
    }
    @media only screen and (max-width:800px){
        .headerset h1{font-size: 50px;
                      font-weight: bold;
                      font-family: cursive;
                      transition: 0.7s ease;}

                      .headerset{
                        padding: 300px;
                        box-sizing: border-box;
                        margin-top: 100px;}
                    
    }
    .posts{
        background-color: #24262b;
        color: aliceblue;
        margin-top: 280px;
        font-size: 56px;
        margin-bottom: 25px;
    }

    .navbar-nav li a{
        transition: 0.7s ease;
        margin: 18px;
    }
    
    .navbar-nav li a:hover{
        background-color: black;
    }
    section{
        margin: 20px;
        padding: 20px;
    }

.card-group{
    margin: 25px;
    transition: 00.7s ease;
}

.card{
    margin: 25px;
}
.card:hover{
    opacity: 0.7;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;

}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e9911e;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}
.info{
    position: relative;
}
.info li{
    display: flex;
    margin-bottom: 16px;
}
.info li span:nth-child(1){
    color: #ffffff;
    font-size: 20px;
    margin-right: 10px;
}
.info li span{
    color: #999;
}
.info li a{
    color: #999;
    text-decoration: none;
}
.info li a:hover{
    color:#ffffff;
}
.developer{
    width:100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}
.fa{
    height: 10px;
}
